body{
    background-color: white;
    margin: 0;
}

  
#logo {
    height: 90px;
    margin: 20px 50%;
    transform: translate(-50px);/*to center th logo*/
}


.dinetype{
    width: 200px;
    height: 271px;
    display: inline-block;
    background-color: wheat;
    border: 1px solid black;
    box-shadow: 2.5px 5px 10px black;
    padding: 30px;
    margin-right: 50px;
    text-align: center;
    border-radius: 10%;
    vertical-align: middle;
    
}

#takeout{
    height: 224px;
    width: 180px;
}

a{
    color: black;
    text-decoration: none;
}

.dinetype:active{
    box-shadow: none;
}

.dinetype:hover{
    box-shadow: 5px 10px 10px black;
    transition: 1s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}